In [1]:
import pandas as pd
import numpy as np

In [5]:
data = {
    'doy': [1,2,3],
    'windSpeed': [2.2, 3.2, -9999],
    'windDirection': ['E', 'NW', 'NW'],
    'precipitation': [0,18,25]
}
data

{'doy': [1, 2, 3],
 'windSpeed': [2.2, 3.2, -9999],
 'windDirection': ['E', 'NW', 'NW'],
 'precipitation': [0, 18, 25]}

In [6]:
df = pd.DataFrame(data)
df.head(2)

   doy  windSpeed windDirection  precipitation
0    1        2.2             E              0
1    2        3.2            NW             18

In [8]:
df.columns #columns is a "property of 'df'"

Index(['doy', 'windSpeed', 'windDirection', 'precipitation'], dtype='object')

In [11]:
df.windSpeed #Calling the WindSpeed column

0       2.2
1       3.2
2   -9999.0
Name: windSpeed, dtype: float64

In [13]:
df['windSpeed']

0       2.2
1       3.2
2   -9999.0
Name: windSpeed, dtype: float64

In [21]:
max_WS = df.windSpeed.max()
max_WS

3.2

In [22]:
min_WS = df.windSpeed.min()
min_WS

-9999.0

In [23]:
df.precipitation.cumsum()

0     0
1    18
2    43
Name: precipitation, dtype: int64

In [25]:
print(df.windDirection.unique())

['E' 'NW']

In [29]:
df.iloc[0:2,:] #interger location, only works with numbers
df.iloc[0:2, 0:2]

   doy  windSpeed
0    1        2.2
1    2        3.2

In [33]:
df.loc[0:2,['windSpeed','precipitation']] #location, works with names and numbers. In case of using numbers, it's including the last element(2).

   windSpeed  precipitation
0        2.2              0
1        3.2             18
2    -9999.0             25

In [34]:
df.loc[0:1,['windSpeed','precipitation']] #

   windSpeed  precipitation
0        2.2              0
1        3.2             18

In [41]:
index = df.windSpeed > 3
A = df[index]
A
type(A)

pandas.core.frame.DataFrame

In [43]:
B = df[index].windSpeed
B

1    3.2
Name: windSpeed, dtype: float64